@media only screen and (min-width: 200px) and (max-width:500px) {
    .header {
        gap: 0px;
        height: fit-content;
        margin-bottom: 10%;
        justify-content: space-between;
    }
    .logo{
        width: 30%;
        margin-top: 10px;
        text-align: right;
    }
    .sign_in{
        margin-right: 10px;
    }
    .logo img{
        width: 120%;
    }
    .banner{
        height: 450px;
    }
    select{
        padding: 6px 0px;
    }
    .plan h4 {
        padding: 0px 30px;
        font-size: 25px;
        font-weight: bold;
    }
    .plan{
        height: 20%;

    }
    .plan h5 {
        padding: 25px ;
        font-size: 18px;
    }
    
    .plan h6 {
        padding: 0 30px 25px 30px;
        font-size: 16px;
    }
    .plan_d{
        flex-direction: column;
    }
    .plan input{
        width: 70%;
        margin: auto;
        padding: 15px ;
    }
    .plan span{
        margin: 10px auto;
        font-size: 20px;
        font-weight: 100;
    }
    .m_r1{
     flex-direction: column;
     padding: 0 2.5%;
    }
    .m_r1_text {
        width: 100%;
        padding-top: 20px;
    }
    .m_r1_text h4 {
        text-align: center;
        margin: 10px 0;
        font-size: 25px;
        font-weight: bold;
    }
    
    .m_r1_text h5 {
        text-align: center;
        font-size: 16px;
        line-height: 25px;
    }
    .m_img{
        margin-bottom: 50px;
    

    }
    #m_r2_text{
        order: 1;

    }
   
    #m_r2_img{
        order: 2;
        text-align: center;
    }
    #m_r3_img{
        margin-top: -55px;
        padding-top: 70px;
    }
    #m_r4_img{
        order: 2;
    }
    #m_r4_text{
        order: 1;
    }
    .m_questions{
        padding-bottom: 40px;
    }
    .m_questions h4 {
        font-size: 20px;
    }
    .m_questions ul li{
        font-size: 18px;
    }
    .m_questions ul li span{
        font-size: 40px;
    }
    .li_hover h5 {
        font-size: 14px;
        word-spacing: 3px;
    }
    .m_questions ul li:nth-child(1):hover {
        margin-bottom: 245px;
    }
    
    .m_questions ul li:nth-child(2):hover {
        margin-bottom: 145px;
    }
    
    .m_questions ul li:nth-child(3):hover {
        margin-bottom: 280px;
    }
    
    .m_questions ul li:nth-child(4):hover {
        margin-bottom: 145px;
    }
    
    .m_questions ul li:nth-child(5):hover {
        margin-bottom: 145px;
    }
    
    .m_questions ul li:nth-child(6):hover {
        margin-bottom: 200px;
    }
    .m_questions ul{
        width: 90%;
    }
    .email h6 {
        font-size: 16px;
        width: 80%;
        /* margin:20px auto; */
        text-align: center;
    }
    .email input{
        width: 80%;
        margin: auto;
        padding: 15px ;
    }
    .email span{
        margin: 10px auto;
        font-size: 20px;
        font-weight: 100;
    }
    .footer{
        width: 90%;
        margin: 10px auto;
    }
    .f_c {
        flex-wrap: wrap;
        gap: 0px;
    }
    .f_c ul li {
        font-size: 12px;
    }
    .footer select {
        padding: 6px 15px;
        font-size: 14px;
        font-weight: 100;
    }
    .Stranger_things {
        width: 70%;
        left: 15%;
        justify-content: space-between;
        gap: 0;
    }
    .Stranger_things h6 {
        color: white;
        font-size: 13px;
    }
    .Stranger_things span {
        font-size: 14px;
    }

}











@media only screen and (min-width: 501px) and (max-width:1000px) {
    .header {
        gap: 0px;
        height: fit-content;
        margin-bottom: 10%;
    }
    .logo{
        width: 40%;
        margin-top: 10px;
    }
    .banner{
        height: 450px;
    }
    select{
        padding: 6px 15px;
    }
    .plan h4 {
        padding: 0px 30px;
        font-size: 25px;
        font-weight: bold;
    }
    .plan{
        height: 20%;

    }
    .plan h5 {
        padding: 25px ;
        font-size: 18px;
    }
    
    .plan h6 {
        padding: 0 30px 25px 30px;
        font-size: 16px;
    }
    .plan_d{
        flex-direction: column;
    }
    .plan input{
        width: 70%;
        margin: auto;
        padding: 15px ;
    }
    .plan span{
        margin: 10px auto;
        font-size: 20px;
        font-weight: 100;
    }
    .m_r1{
     flex-direction: column;
     padding: 0 2.5%;
    }
    .m_r1_text {
        width: 100%;
        padding-top: 20px;
    }
    .m_r1_text h4 {
        text-align: center;
        margin: 10px 0;
        font-size: 25px;
        font-weight: bold;
    }
    
    .m_r1_text h5 {
        text-align: center;
        font-size: 16px;
        line-height: 25px;
    }
    .m_img{
        margin-bottom: 50px;
    }
    #m_r2_text{
        order: 1;

    }
   
    #m_r2_img{
        order: 2;
    }
    #m_r3_img{
        margin-top: -55px;
        padding-top: 70px;
    }
    #m_r4_img{
        order: 2;
    }
    #m_r4_text{
        order: 1;
    }
    .m_questions{
        padding-bottom: 40px;
    }
    .m_questions h4 {
        font-size: 20px;
    }
    .m_questions ul li{
        font-size: 18px;
    }
    .m_questions ul li span{
        font-size: 40px;
    }
    .li_hover h5 {
        font-size: 14px;
        word-spacing: 3px;
    }
    .m_questions ul li:nth-child(1):hover {
        margin-bottom: 245px;
    }
    
    .m_questions ul li:nth-child(2):hover {
        margin-bottom: 145px;
    }
    
    .m_questions ul li:nth-child(3):hover {
        margin-bottom: 280px;
    }
    
    .m_questions ul li:nth-child(4):hover {
        margin-bottom: 145px;
    }
    
    .m_questions ul li:nth-child(5):hover {
        margin-bottom: 145px;
    }
    
    .m_questions ul li:nth-child(6):hover {
        margin-bottom: 200px;
    }
    .m_questions ul{
        width: 90%;
    }
    .email h6 {
        font-size: 16px;
        width: 80%;
        /* margin:20px auto; */
        text-align: center;
    }
    .email input{
        width: 80%;
        margin: auto;
        padding: 15px ;
    }
    .email span{
        margin: 10px auto;
        font-size: 20px;
        font-weight: 100;
    }
    .footer{
        width: 90%;
        margin: 10px auto;
    }
    .f_c {
        flex-wrap: wrap;
        gap: 0px;
    }
    .f_c ul li {
        font-size: 12px;
    }
    .footer select {
        padding: 6px 15px;
        font-size: 14px;
        font-weight: 100;
    }
    .Stranger_things {
        width: 70%;
        left: 10%;
        justify-content: space-between;
        gap: 0;
    }
    .Stranger_things h6 {
        color: white;
        font-size: 13px;
    }
    .Stranger_things span {
        font-size: 14px;
    }

}