* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
}

.main {
    width: 100%;
    border: 1px solid black;
    background-color: black;
}

.banner {
    width: 100%;
    height: 700px;
    background-image: url('../img/IN-en-20230925-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 250px;
    height: 40%;

}

.logo {
    width: 20%;
}

select {
    padding: 6px 25px;
    margin-top: 20px;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 7px;
}

.sign_in span {
    margin-left: 15px;
    font-size: 15px;
    border-radius: 5px;
    background-color: red;
    font-weight: bold;
    padding: 6px 13px;
    color: white;
}

.plan {
    width: 100%;
    text-align: center;
    height: 60%;
}

.plan h4 {
    font-size: 40px;
    font-weight: 900;
    color: white;
}

.plan h5 {
    padding: 25px 0;
    font-size: 22px;
    color: white;
    font-weight: 100;
}

.plan h6 {
    color: white;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 25px;
}

.plan_d {
    width: 100%;
    display: flex;
    justify-content: center;
}

.plan input {
    width: 22%;
    padding: 20px 10px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 10px;
}

.plan span {
    width: fit-content;
    padding: 15px 25px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
}

.middle {
    width: 100%;

    color: white;
}

.m_r1 {
    border-top: 8px solid rgb(53, 50, 50);
    width: 100%;
    padding: 0 10%;
    margin: auto;
    padding-bottom: 80px;
    display: flex;
}

.m_r1_text {
    padding-top: 120px;
    width: 50%;
}

.m_r1_text h4 {
    margin: 40px 0;
    font-size: 40px;
    font-weight: 900;
}

.m_r1_text h5 {
    font-size: 22px;
    font-weight: 100;
    line-height: 30px;
}

.m_img {
    text-align: right;
}


#m_r2_img {
    text-align: left;
    position: relative;
}

#m_r2_text {
    padding-top: 60px;
}

#m_r1_img {
    background-image: url('../img/ezgif.com-video-to-gif\ \(1\).gif');
    background-position: center;
    background-repeat: no-repeat;
}

#m_r3_img {
    padding-top: 90px;
    background-image: url('../img/ezgif.com-video-to-gif.gif');
    background-position: center;
    background-size: 65% 50%;
    background-repeat: no-repeat;
    text-align: center;
}

.Stranger_things {
    width: 50%;
    position: absolute;
    top: 70%;
    left: 20%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 15px;
    border: 1px solid gray;
}

.Stranger_things img {
    margin-right: 10px;
}

.Stranger_things h6 {
    color: white;
    font-size: 18px;
}

.Stranger_things span {
    color: blue;
}

.default-ltr-cache-1q4up1i {
    width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    /* display: block; */
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#m_r4_img {
    text-align: left;
}

.m_questions {
    width: 100%;
    padding-bottom: 80px;
    border-top: 8px solid rgb(53, 50, 50);
    border-bottom: 8px solid rgb(53, 50, 50);

}

.m_questions h4 {
    margin-top: 50px;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
}

.m_questions ul {
    width: 80%;
    margin: 20px auto;
    list-style: none;
}

.m_questions ul li {
    padding: 0 25px;
    position: relative;
    font-size: 28px;
    margin-bottom: 10px;
    background-color: rgba(45, 45, 45);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.m_questions ul li:nth-child(1):hover {
    margin-bottom: 190px;
}

.m_questions ul li:nth-child(2):hover {
    margin-bottom: 114px;
}

.m_questions ul li:nth-child(3):hover {
    margin-bottom: 215px;
}

.m_questions ul li:nth-child(4):hover {
    margin-bottom: 114px;
}

.m_questions ul li:nth-child(5):hover {
    margin-bottom: 114px;
}

.m_questions ul li:nth-child(6):hover {
    margin-bottom: 190px;
}

.m_questions ul li span {
    font-size: 60px;
    font-weight: 100;
}

.li_hover {
    width: 100%;
    position: absolute;
    top: 100%;
    padding: 0 15px;
    background-color: rgb(45, 45, 45);
    left: 0;
    border-top: 10px solid black;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;

}

.m_questions ul li:hover .li_hover {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.m_questions ul li:hover .li_hover h5 {
    margin: 20px 0;
}

.li_hover h5 {
    font-size: 24px;
    font-weight: 100;
    transition: 0.5s;
}

.email h6 {
    margin: 25px 0;
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.email {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.email input {
    width: 22%;
    padding: 20px 10px;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 10px;
}

.email span {
    width: fit-content;
    padding: 15px 25px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
}

.footer {
    width: 80%;
    margin: 80px auto;

}

.f_c {
    display: flex;
    gap: 180px;
}

.f_c ul {
    width: 40%;
    list-style: none;
    color: rgb(170, 170, 170);
    text-decoration: underline;
}

.f_c ul li {
    margin-bottom: 15px;
    font-size: 14px;
}

.footer h3 {
    font-size: 16px;
    color: rgb(170, 170, 170);
    margin-bottom: 30px;
}

.footer select {
    padding: 6px 15px;
    margin: 20px 0;
    background-color: transparent;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: 0.1px solid white;
    border-radius: 4px;
}

.footer span {
    display: block;
    font-size: 14px;
    color: rgb(170, 170, 170);
}